// main color
$primary: #f95d5d;
$secondary: #00beff;
$tertiary: #5ac152;
// monochrome colors
$white: #fff;
$light: #f8f9fa;
$grey: #666;
$dark-grey: #333;
$dark: #222;
// size
$xs: 13px;
$sm: 15px;
$md: 20px;
$lg: 35px;
$xl: 55px;
